{% extends 'bootstrap/base.html' %}
{% block title %}
{% if title %}{{ title }} - Requester{% else %}Requester{% endif %}
{% endblock title %}

{% block styles %}

{{ super() }}

{% include 'snippets/css.html' %}
    
{% endblock styles %}

{% block body %}
    
{% block navbar %}
{% include 'snippets/navbar.html' %}
{% endblock navbar %}
{% block content %}
    
{% endblock content %}
{% block footer %}
    {% include 'snippets/footer.html' %}
{% endblock footer %}

{% block scripts %}
    {{ super() }}

    {% include 'snippets/js.html' %}
{% endblock scripts %}

{% endblock body %}

