{% extends 'base.html' %}
{% block content %}

{% include 'features/mod_add_feature.html' %}

<div class="container-fluid mb-0">
    <div class="row">
        <!-- Header Starts here -->
        <div class="col-12 col-md-4 header order-md-2">
            {% include 'snippets/header.html' %}
        </div>

        <!-- Content Starts here -->
        <div class="col-12 col-md-8 order-md-1 content pt-3 px-2">
            <section class="client col-12">
                <div class="card  bg-light mb-2 shadow">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <tbody class="align-middle">
                                    <tr class="align-middle">

                                        <td class="d-none d-sm-none d-md-block"><img src="{{ url_for('static', filename='img/avatar-1577909.svg')}}"
                                                class="rounded-circle border border-primary" alt="" width="30px" height="30px"></td>
                                        <td>Client A</td>
                                        <td><span class="badge badge-pill badge-primary">4</span> <small>Feature
                                                Request</small></td>
                                        <td class="d-none d-sm-none d-md-block"> <small>Add Navigation Bar</small> </td>
                                        <td><small>Date Due: 2nd October, 2019</small></td>
                                    </tr>
                                    <tr>
                                        <td class="d-none d-sm-none d-md-block"><img src="{{ url_for('static', filename='img/avatar-1577909.svg')}}"
                                                class="rounded-circle border border-primary" alt="" width="30px" height="30px"></td>
                                        <td>Client B</td>
                                        <td><span class="badge badge-pill badge-primary">4</span> <small>Feature
                                                Request</small></td>
                                        <td class="d-none d-sm-none d-md-block"> <small>Add Navigation Bar</small> </td>
                                        <td><small>Date Due: 2nd October, 2019</small></td>
                                    </tr>
                                    <tr>
                                        <td class="d-none d-sm-none d-md-block"><img src="{{ url_for('static', filename='img/avatar-1577909.svg')}}"
                                                class="rounded-circle border border-primary" alt="" width="30px" height="30px"></td>
                                        <td>Client C</td>
                                        <td><span class="badge badge-pill badge-primary">4</span> <small>Feature
                                                Request</small></td>
                                        <td class="d-none d-sm-none d-md-block"> <small>Add Navigation Bar</small> </td>
                                        <td><small>Date Due: 2nd October, 2019</small></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </section>

            <div class="row mx-1 my-4">
                <section class="col-12 col-md-6 mx-auto">
                    <div class="card bg-light mb-3 shadow">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted text-center">Top Requests</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Make Changes to Insurance Policies</li>
                                <li class="list-group-item">Create a new Product Line</li>
                                <li class="list-group-item">Consider Reducing Cost For Bulk Purchasers</li>
                                <li class="list-group-item">Review Your Claims Policy</li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="col-12 col-md-6 mx-auto">
                    <div class="card bg-light mb-3 shadow">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted text-center">Product Areas</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Policies</li>
                                <li class="list-group-item">Billings</li>
                                <li class="list-group-item">Claims</li>
                                <li class="list-group-item">Reports</li>
                            </ul>
                        </div>
                    </div>
                </section>


            </div>
        </div>
    </div>

</div>


{% endblock content %}