<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="container">
            <div class="modal-content">
                <div class="modal-body" style="background: url('/static/img/background.jpg');">
                    <div class="card mx-auto shadow">
                        <div class="card-body">
                            <h5 class="card-title">Add Request</h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            {% include 'features/add_feature_form.html' %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>