<!-- Modal -->
<div class="modal fade" id="addFeatureModal" tabindex="-1" role="dialog" aria-labelledby="addFeatureModalCenterTitle"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="container">
            <div class="modal-content">
                <div class="modal-body" style="background: url('/static/img/background.jpg');">
                    <div class="card mx-auto shadow">
                        <div class="card-body">
                            <h5 class="card-title">Add Request</h5>
                            <!-- Included the form here -->
                            {% include 'features/add_feature_form.html' %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="addClientModal" tabindex="-1" role="dialog" aria-labelledby="addClientModalCenterTitle"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="container">
            <div class="modal-content">
                <div class="modal-body" style="background: url('/static/img/background.jpg');">
                    <div class="card mx-auto shadow">
                        <div class="card-body">
                            <h5 class="card-title">Add Request</h5>
                            <!-- Included the form here -->
                            {% include 'features/add_client_form.html' %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalCenterTitle"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="container">
            <div class="modal-content">
                <div class="modal-body" style="background: url('/static/img/background.jpg');">
                    <div class="card mx-auto shadow">
                        <div class="card-body">
                            <h5 class="card-title">Add Request</h5>
                            <!-- Included the form here -->
                            {% include 'features/add_product_form.html' %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>