<form action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Title?">
        <br>
        <label for="description">Description:</label>
        <textarea type="text" class="form-control" id="description" name="description" placeholder="Description?">
        <br>
        <label for="clirent_priority">Priority:</label>
        <input type="number" class="form-control" id="client_priority" name="client_priority" placeholder="Client Priority.">
        <br>
        <label for="target_date">Target Date:</label>
        <input type="date" class="form-control" id="date" name="password" placeholder="Choose Date.">
        <br>
        <label for="target_date">Target Date:</label>
        <input type="date" class="form-control" id="date" name="password" placeholder="Choose Date.">
        <br>
        <label for="target_date">Target Date:</label>
        <input type="date" class="form-control" id="date" name="password" placeholder="Choose Date.">
    </div>
    <br>
    <center>
        <button type="submit" class="btn btn-success">Submit</button>
    </center>
</form>