html,
body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    background-color: #eee;
}

.navbar{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    background: url('/static/img/background.jpg');
}

.header {
    background: url('/static/img/background.jpg');
    min-height: 100vh;
    border-radius: 0;
    color: white; 
    font-weight: bolder;

}

td {
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}
.shadow {
    box-shadow: 0 10 black;
    border-radius: 0;
}
