html,
body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    background-color: #eee;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}



.navbar{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    background-color: #fff !important;
    box-shadow: 0px 0px 10px #222222;
    z-index: 500;
}

.navbar-dark {
    background-color: #0d6eaa !important;
}

/*General css styles*/

.navbar-toggler, .navbar-toggler:focus {
    border: none;
    outline: none !important;

}
.navbar-toggler-icon {
    color: #fff;
}


.nav-link {
  font-size: 1.1em !important;
}





.header {
    background-color: #0d6eaa !important;
    min-height: 100vh;
    border-radius: 0;
    color: white; 
    font-weight: bolder;

}

td {
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}


.card {
    -webkit-box-shadow: 0 0 2px black;
    -moz-box-shadow: 0 0 2px black;
    box-shadow: 0 0 2px black;
    text-align: left;
    z-index: 100;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius:0 ;
    color: black;
    font-weight: lighter;
    background-color: rgba(255, 255, 255, 1);
}

.modal-style{
    /*background-color:#0d6eaa !important ;*/
    background:#0d6eaa !important ;
}

.tab-title{
    font-size: 14px;
    padding: 0px 5px 0px 5px;
}