{% extends 'base.html' %}
{% block content %}

<div class="container-fluid mb-0">
    <div class="row">
        <!-- Header Starts here -->
        <div class="col-12 col-md-4 header order-md-2">
            <div>
                <div class="card my-4 py-5">

                    <div class="mx-auto mt-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="text-left">Error:</span> <span class="text-right">{{
                                    code }}</span></li>
                            <li class="list-group-item"><span class="text-left">Error:</span> <span class="text-right">{{
                                    message }}</span></li>


                        </ul>
                        <a class="btn btn-outline-primary btn-block mt-3" href="{{ url_for('main.index') }}" role="button">
                            Home
                        </a>
                    </div>
                </div>

            </div>

        </div>

        <!-- Content Starts here -->
        <div class="col-12 col-md-8 order-1 content pt-5 px-5">
            <section class="client col-12">
                <h1 class="display-2">Error {{ code }} </h1>
            </section>

        </div>
    </div>

</div>


{% endblock content %}