html,
body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
}


.header {
    background: url('/static/header-background2.jpg');
    min-height: 100vh;
    border-radius: 0;
    color: white; 

}
