{% extends 'base.html' %}
{% block content %}

    {% block modal %}
        <!-- Included the Modal Here -->
        {% include 'mod_add_feature.html' %}

    {% endblock modal %}

    <div class="container-fluid mb-0">
        <div class="row">
            <!-- Header Starts here -->
            <div class="col-12 col-md-4 header order-md-2">
                {% include 'snippets/header.html' %}
            </div>
            {% block other_content %}
                <!-- Content Starts here -->


                <div class="col-12 col-md-8 order-md-1 content pt-3 px-2">

                    <!-- Clients -->
                    <section class="client col-12">
                        <div class="card  bg-light mb-2 shadow">
                            {% if clients %}
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-sm">
                                            <tbody class="align-middle">

                                            {% for client in clients %}

                                                <tr class="align-middle">

                                                    <td class="d-none d-sm-none d-md-block">
                                                        <a href="{{ url_for('main.client_details', client_id=client.id) }}"
                                                           style="text-decoration: none; cursor: pointer">
                                                            <img
                                                                src="{{ url_for('static', filename='img/avatar-1577909.svg') }}"
                                                                class="rounded-circle border border-primary" alt=""
                                                                width="30px"
                                                                height="30px">
                                                        </a>
                                                    </td>

                                                    <td><a href="{{ url_for('main.client_details', client_id=client.id) }}"
                                                           style="text-decoration: None; cursor: pointer">{{ client.name }}</a>
                                                    </td>
                                                    <td><a href="{{ url_for('main.client_details', client_id=client.id) }}"
                                                           style="text-decoration: None; cursor: pointer"><span
                                                            class="badge badge-pill badge-primary">{{ client.features | length }}</span>
                                                        <small>Feature
                                                            Request
                                                        </small>
                                                    </a>
                                                    </td>
                                                    <td class="d-none d-sm-none d-md-block">
                                                        <a href="{{ url_for('main.client_details', client_id=client.id) }}"
                                                           style="text-decoration: None; cursor: pointer">
                                                            <small>{% if client.features %}
                                                                {{ client.features[-1].title }}
                                                            {% else %}
                                                                No features yet
                                                            {% endif %}</small>
                                                        </a>
                                                    </td>
                                                    <td><a href="{{ url_for('main.client_details', client_id=client.id) }}"
                                                           style="text-decoration: None; cursor: pointer">
                                                        <small>Date Due:{% if client.features %}
                                                            {{ moment(client.features[-1].target_date).format('MMMM Do, YYYY') }}
                                                        {% else %}
                                                            No date attached
                                                        {% endif %}</small>
                                                    </a>
                                                    </td>

                                                </tr>

                                            {% endfor %}


                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            {% else %}
                                <div class="text-center my-3 py-3">
                                    <button class="btn btn-sm btn-outline-primary px-5 py-3" role="button"
                                            data-toggle="modal" data-target="#addClientModal">Add
                                        Client
                                    </button>
                                </div>

                            {% endif %}
                        </div>
                    </section>

                    <div class="row mx-1 my-4">
                        <!-- Feature Requests -->
                        <section class="col-12 col-md-6 mx-auto">
                            <div class="card bg-light mb-3 shadow">
                                <div class="card-body">
                                    {% if features %}
                                        <h6 class="card-subtitle mb-2 text-muted text-center">Top Requests</h6>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <small>Title || Priority || Client</small>
                                            </li>

                                            {% for feature in features %}
                                                <li class="list-group-item">
                                                    <small>{{ feature.title }} || &nbsp; {{ feature.client_priority }}
                                                        || &nbsp; {{ feature.client.name }}</small>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <div class="text-center my-3 py-3">
                                            <button class="btn btn-sm btn-outline-primary px-5 py-3" role="button"
                                                    data-toggle="modal" data-target="#addFeatureModal">Add
                                                Feature
                                            </button>
                                        </div>

                                    {% endif %}
                                </div>
                            </div>
                        </section>

                        <section class="col-12 col-md-6 mx-auto">
                            <div class="card bg-light mb-3 shadow">
                                <div class="card-body">
                                    {% if product_list %}
                                        <h6 class="card-subtitle mb-2 text-muted text-center">Product Areas</h6>
                                        <ul class="list-group list-group-flush">
                                            {% for product in product_list %}
                                                <li class="list-group-item">{{ product.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <div class="text-center my-3 py-3">
                                            <button class="btn btn-sm btn-outline-primary px-5 py-3" role="button"
                                                    data-toggle="modal" data-target="#addProductModal">Add
                                                Product Area
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </section>


                    </div>
                </div>
            {% endblock other_content %}


        </div>

    </div>


{% endblock content %}